@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@100..900&display=swap');

.App {
  font-family: "Comfortaa";
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: #F6E9B2;
}

.gift-button {
  background: none;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 30rem;
  max-width: 50rem;
  background-color: white;
  border-radius: 2.5rem;
  border-color: #088710;
  border-style: solid;
  padding: 1rem;
}

.green-button{
  font-family: "Comfortaa";
  border: none;
  border-radius: 1rem;
  height: 3rem;
  width: 8rem;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 1rem;
  margin: 3rem;
  background-color: #088710;
}

.green-button-store{
  font-family: "Comfortaa";
  border: none;
  border-radius: 1rem;
  height: 3rem;
  width: 15rem;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 1rem;
  margin: 3rem;
  background-color: #088710;
}

.button:hover{
  opacity: 0.6;
}

#CashQuizLabel{
  color: #088710;
}

.popup {
  background-color: #F6E9B2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  padding-top: 4rem;
  border-radius: 2.5rem;
  border: 1.5px solid #088710;
  z-index: 1000;
}

.gift-container {
  display: flex;
  justify-content: space-between;
}

.option {
  line-height: 2rem;
}

#pointsToRedeem{
  font-weight: bold;
  margin-bottom: 1rem;
}

.giftcardImg{
  height: 8rem;
}

.giftcardImg:hover{
  cursor: pointer;
}

table{
  display: inline-block;
  margin: 2rem;
}